body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212529;
    display: flex;      
    flex-direction: column;  
    align-items: center;       
    justify-content: center;           
    margin: 0;
    min-height: 100vh;             
}

.header {
    color: white;
    text-align: center;
    width: 250px;
    padding: 30px;
    background-color: rgb(31, 32, 34);
    border-radius: 8px;
    box-shadow: 0px 0px 19px 10px rgba(63,63,63,0.58);
    margin-bottom: 20px;
}

.head_button {
    width: 50px;
    background-color: #404144;
    color: white;
    border-radius: 10px;
    border: none;
    height: 50px;
    margin: 5px;
}

.index {
    color: white;
    text-align: center;
    width: 250px;
    height: 600px;
    padding: 30px;
    background-color: #0d6efd;
    border-radius: 8px;
    box-shadow: 0px 0px 19px 10px rgba(63,63,63,0.58);
    margin-bottom: 20px;
}