<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextDNS Webapp - Configuration</title>

    <link rel="stylesheet" href="../static/config_site.css">
</head>
<body class="background">
    <div class="config-header">
        <h2>NextDNS Webapp Configuration</h2>
    </div>

    <form method="POST" class="config-form">
        <input name="api_key" placeholder="Api Key" type="password">
        <input name="config_id" placeholder="Config ID">
        <button type="submit">Save Configuration</button>
    </form>
</body>
</html>