<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextDNS Webapp</title>
    <link rel="stylesheet" href="../static/index_site.css">
</head>
<body>
    <div class="header">
        <button class= "head_button" onclick="location.href='/'">Log</button><button class= "head_button" onclick="location.href='/config'">Config</button>
    </div>
    <div class="index">
        <h1>Welcome to the NextDNS Webapp</h1>
        <p>This is the homepage of the NextDNS Webapp.</p>
    </div>
</body>
</html>